body {
  height: 450px;
  width: 320px;
  padding: 10px 15px;
  background-color: indianred;
}
.header {
  display: flex;
  justify-content: center;
  height: 40px;
}
#time {
  text-align: center;
  font-size: 50px;
  margin: 10px;
  font-weight: normal;
  color: whitesmoke;
}
#btn-container {
  display: flex;
  justify-content: space-evenly;
}
#btn-container > button {
  color: indianred;
  background-color: whitesmoke;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 8px;
  font-weight: bold;
  width: 100px;
  cursor: pointer;
}

.add-task-container {
  display: flex;
  height: 28px;
  margin: 20px 0;
}
.task-input {
  width: 250px;
  height: 100%;
  border: none;
  padding: 0 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.task-input::placeholder {
  opacity: 0.5;
  color: grey;
  font-style: italic;
}

.add-task-container button {
  color: indianred;
  background-color: whitesmoke;
  border: none;
  outline: none;
  font-weight: bold;
  width: 80px;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#task-container {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0 6px;
}
#task-container li {
  color: white;
  display: grid;
  height: auto;
  grid-template-columns: 28px 1fr 20px;
  border-bottom: 1px white solid;
  padding: 8px 0;
}
#task-container li .cbx {
  margin: 0;
  padding: 0;
  width: 20px;
}
#task-container li p {
  margin: 0;
  padding: 0;
  font-size: 15px;
}
#task-container li .event {
  font-size: 15px;
  line-height: 1;
}
#task-container li .delete {
  cursor: pointer;
}
input[type="checkbox"] {
  accent-color: #90e0ef;
}
